section#about-section {
	background-color: rgba(255,255,255,0.5);
	padding: 20px 20px;
}

section#about-section,
section#team-section {
	box-sizing: border-box;
	margin-top: 20px;
	width: 100%;
	float: left;
}

section#about-section {
	margin-right: 20px;
}

section#about-section p {
	font-size: 16px;
}

section#about-section h2,
section#team-section h2
{
	font-size: 18px;
	font-weight: bold;
	color: #383838;
	margin-bottom: 10px;
}

section#team-section {
	min-height: 500px;
	width: 100%;
}

section#team-section div.team-member {
	width: 24%;
	float: left;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 12px;
}

section#team-section div.team-member-laise,
section#team-section div.team-member-lucas,
section#team-section div.team-member-monira,
section#team-section div.team-member-victor {
	float: left;
}

section#team-section div.team-member-laise,
section#team-section div.team-member-lucas,
section#team-section div.team-member-monira {
	margin-right: 15px;
}

section#team-section div.team-member h2 {
	margin-top: 10px;
}

section#team-section div.team-member img {
	width: 75%;
	border-radius: 50%;
}
