/* Main Text */
.main-box .main-text-box {
	margin-top: 15%;
}

.main-box .main-text-box h1 {
	text-align: center;
	color: white;
	text-shadow: 0 1px 1px #000;
	font-size: 40px;
}

/* Search Box */
.main-box .search-box {
	margin: 0 auto;
	width: 400px;
	vertical-align: middle;
}

.main-box .search-box form {
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5) ;
    padding: 20px 20px;
    margin-top: 35px;
}

.main-box .search-box input[type=text] {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	text-align: center;
	height: 50px;
	border: 1px solid #ccc;
	font-size: 18px;
	color: #585858;
}
