* {
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-image: url('../img/desk-black.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

/* Main */
.main-box {
	width: 980px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* Navigation */
.main-box .main-nav {
	height: 40px;
    padding-bottom: 0;
    padding-top: 15px;
    margin-top: 60px;
}

.main-box .main-nav .nav-items {
	display: inline;
	list-style: none;
}

.main-box .main-nav ul li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.main-box .main-nav ul li a {
	padding-bottom: 5px;
	font-size: 19px;
}

.main-box .main-nav ul li a,
.main-box .main-nav ul li a:visited,
.main-box .main-nav ul li a:hover {
	color: white;
}

.main-box .main-nav ul li a:hover {
	border-bottom: 1px solid white;
}

.main-box .main-nav ul li.left-nav-item {
	float: left;
}

.main-box .main-nav ul li.right-nav-item {
	float: right;
	margin-left: 20px;
}

/* Main Text */
.main-box .main-text-box {
	margin-top: 15%;
}

.main-box .main-text-box h1 {
	text-align: center;
	color: white;
	text-shadow: 0 1px 1px #000;
	font-size: 40px;
}

/* Search Box */
.main-box .search-box {
	margin: 0 auto;
	width: 400px;
	vertical-align: middle;
}

.main-box .search-box form {
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5) ;
    padding: 20px 20px;
    margin-top: 35px;
}

.main-box .search-box input[type=text] {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	text-align: center;
	height: 50px;
	border: 1px solid #ccc;
	font-size: 18px;
	color: #585858;
}
