/* Google Section */
section#maps-section,
section#github-section,
section#tweets-section {
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5) ;
    padding: 20px 20px;
}

section#maps-section h2,
section#github-section h2,
section#tweets-section h2
 {
	font-size: 18px;
	font-weight: bold;
	color: #383838;
	margin-bottom: 10px;
}

section#github-section,
section#tweets-section {
	margin: 20px 0;
}

section#github-section,
section#maps-section {
	width: 59%;
	float:right;
}

section#maps-section {
	height: 475px;
}

section#maps-section #meetupMapResults {
	height: 92%;
	width: 100%;
}

section#tweets-section {
	float:left;
	width: 39%;
}

section#tweets-section .tweet-box {
	margin-bottom: 15px;
	background-color: white;
    padding: 10px;
}

section#tweets-section .tweet-box p {
	font-weight: bold;
}


section .section-title {
	margin-bottom: 40px;
}

section .section-title h2,
section .section-title img {
	float: left;
}

section .section-title img {
	width: 50px;
	margin-top: -15px;
}

section#error-section {
	padding: 15px;
	margin: 10px 0;
	border: 1px solid #ebccd1;
	color: #a94442;
	background-color: #f2dede;
}

section#github-section {
	min-height: 300px;
}

section#github-section .repository {
	width: 200px;
	height: 100px;
	background: white;
	padding: 10px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

section#github-section .repository h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}


/*#githubResults {
  height: 50%;
  width: 960px;
  margin: 0 auto;
}*/